<%= render 'partials/navbar' %>

<div class="container">

  <% provide(:title, "Edit user") %>


  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Update your profile</h1>
      <%= form_for @user, url: edit_user_path do |f| %>

        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <p>
        <%= f.submit "Save changes", class: "btn btn-pokemon" %>
      <% end %>
    </div>
  </div>
<%= link_to "delete user", destroy_user_path, class: "btn", method: :delete, data: {confirm: "Are you sure?"} %>
</div>
