<%= render 'partials/navbar' %>

<div class="container">

<div class="row">

  <%= link_to user_cards_path do %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag "Pikachu.png" %>
          <div class="caption">
          <h3 class='center'>View Favorites</h3>
  <% end %>
          </div>
      </div>
    </div>

  <a href = '/cards/'>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag "Eevee.png" %>
          <div class="caption">
          <h3 class='center'>Browse All Favorites</h3>
  </a>
        </div>
      </div>
    </div>

  <%= link_to new_card_path do %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag "Mewtwo.png" %>
        <div class="caption">
          <h3 class='center'>Upload Favorites</h3>
  <% end %>
        </div>
      </div>
    </div>

  <%= link_to edit_card_path do %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag "Gyarados.png" %>
          <div class="caption">
          <h3 class='center'>Edit Favorites</h3>
  <% end %>
          </div>
      </div>
    </div>

  </div>
</div>
