<%= render 'partials/navbar' %>

<div class="container">
  <% if flash[:success] %>
    <div class=' alert alert-success'> <%= flash[:success] %></div>
    <script>
      $(".alert").delay(2000).slideUp()
    </script>
  <% end %>

  <h1 class = "center bold" >Browse Pokémon</h1>
  <div class="spacer"></div>

    <% Card.all.order(:name).in_groups_of(4, false).each do |group| %>
        <div class='row'>
          <% group.each do |c| %>
            <div class='col-md-3'>
              <div class="thumbnail center">
                <%= image_tag(c.imageUrl, :class => "card") %>
                <h3 class='bold'><%= c.name %></h3>
                <%= link_to "View", card_path(c) %> |
                <%= link_to 'Add To Favorites', "/cards/#{c.id}/add" %>
            </div>
          </div>
    <% end %>
  </div>

<% end %>
</div>
