<!-- display the user's cards -->
<%= render 'partials/navbar' %>

<div class="container">

<% @current_user.cards.in_groups_of(4, false).each do |group| %>
  <div class='row'>
    <% group.each do |c| %>
      <div class='col-md-3'>
        <div class="thumbnail">
          <center>
            <%= image_tag(c.imageUrl) %>
            <h2><%= c.name %></h2>
            <p>ID: <%= c.card_id %></p>
            <p>Type: <%= c.types %></p>

          </center>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
