<%= render 'partials/navbar' %>

<div class="container">
  <h1>Add to Your Favorites</h1>

    <% Card.all.in_groups_of(3, false).each do |group| %>


        <div class='row'>
          <% group.each do |c| %>
            <div class='col-md-4'>
              <div class="thumbnail center">
                <%= image_tag(c.imageUrl, :class => "browse") %>
                <h3 class='bold'><%= c.name %></h3>
                <%= link_to "View", card_path(c) %> |
                <%= link_to 'Add To Favorites', "/cards/#{c.id}/add" %>
            </div>
          </div>
    <% end %>
  </div>

<% end %>
</div>
