<%= render 'partials/navbar' %>

<h1>Upload a New Pokémon</h1>

<%= form_for @card do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

  <%= f.label :imageUrl %>
  <%= f.text_field :imageUrl %>

	<%= f.submit %>
<% end %>
