<%= render 'partials/navbar' %>

<h1 class = "center bold">Upload a New Pokémon</h1>
<div class="spacer"></div>
<%= form_for @card, url: '/cards/', html: { multipart: true },:class => 'form-horizontal' do |f| %>
		<div class="row">
			<div class="col-md-2 col-md-offset-3">
    		<fieldset>
	    		<div class="form-group">
	        	<%= f.label :name, "Name", class: 'col-md-4 control-label' %>
					</div>
				</div>
			  <div class="col-md-4">
		        <%= f.text_field :name, class: 'form-control' %>
		    </div>
		</div>
			<div class = "row">
				<div class="col-md-2 col-md-offset-3">
	    	<div class="form-group">
	        <%= f.label :imageUrl, 'Image URL', class: 'col-md-4 control-label' %>
				</div>
				</div>
					<div class="col-md-4">
		      	<%= f.text_field :imageUrl, class: 'form-control' %>
		    	</div>
	    	</div>
			<div class = "row">
	    <div class="form-group">
	      <div class="col-md-6 col-md-offset-3">
	        <%= f.submit 'Submit', class: 'btn btn-pokemon' %>
		    </div>
	    </div>
		</div>
<div class="spacer"></div>
    </fieldset>
	<% end %>
