<%= render 'partials/navbar' %>


<!-- display the user's name -->
<p>
  <strong>User:</strong>
  <%= @current_user.username %> <br>
</p>

<!-- display the user's cards -->
<div class="container">

<p>
  <% @current_user.cards.each do |c| %>
  	<h3 class = bold><%= c.name %></h3>
  	<p>ID: <%= c.card_id %></p>
    <p>Type: <%= c.types %></p>
    <p><%= image_tag(c.imageUrl) %></p>
  <% end %>
</p>
</div>
