<!DOCTYPE html>
<html>
<head>
  <title>Pokéstash</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Exo:400,400italic,800,800italic' rel='stylesheet' type='text/css'>

</head>
<body>

  <div class="jumbotron">
    <%= link_to root_path do %>
    <center><h1>Pokéstash</h1></center>
    <% end %>
  </div>

<%= yield %>

<footer class= "footer">
  <div class="container">
    <p class = "text-muted">Copyright (c) 2016 JJ Keith All Rights Reserved. </p>
  </div>
</footer>

</body>
</html>
